* {
    font-family: ClockFont, Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

html, body {
	width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
    
    background-color: gray;
    overflow: hidden;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}
